.grid-container{
  display: grid;
  min-height: 100vh;
  grid-template-areas: 'header' 'main' 'footer' ;
  grid-template-rows: 64px 1fr 40px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
