.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

mat-icon{
  display: flex;
  justify-content: center;
}

mat-toolbar{
  background: white;
  border-bottom: 1px solid #c70b0b;
  color: #c70b0b;
}
