<mat-card>
  <mat-card-title class="title">Create an account</mat-card-title>
  <mat-card-content>
    <form>
      <div class="names">
        <mat-form-field appearance="outline">
          <input type="text" matInput placeholder="First Name"
                 [formControl]="firstNameFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="firstNameFormControl.hasError('required')">
            First Name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input type="text" matInput placeholder="Last Name"
                 [formControl]="lastNameFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="lastNameFormControl.hasError('required')">
            Last Name is required.
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <input type="email" matInput placeholder="Email"
               [formControl]="emailFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="Password"
               [formControl]="passwordFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Password must be at least 6 characters long.
        </mat-error>
      </mat-form-field>
      <a [routerLink]="['../login']" >Already have an account?</a>
      <div class="button">
        <button [disabled]="formGroup.invalid" mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
